body{
  background: #e5e5e5;
}

div#login{
  background: #ffffff;

  width: 370px;
  height: 500px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}

img#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 170px;
}

div#welcome{
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #6c41d7;
  margin-top: 8px;
}

div#forms{
  margin: auto;
  margin-top: 28px;
  width: 270px;
}

div#forms p{
  color:#828282;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
}

div#forms input{
  height: 25px;
  width: 266px;
  margin-bottom: 11px;
  border-style: solid;
  border-width: 1px;
/*  border-color: #bfbfbf;*/
  background-color: #ffffff;
}

.wrapper{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-gap: 7px;
  margin-top: -2px;
}

.prog-default{
  background-color: #dbdbdb;
  border-color: #bfbfbf;
  height: 6px;
}
.one-prog{
  background: #f26722;
  border-color: #f26722;
  height: 6px;
}
.two-prog{
  background: #f2b822;
  border-color: #f2b822;
  height: 6px;
}

.three-prog{
  background: #1ed699;
  border-color: #1ed699;
  height: 6px;
}

div#forms ul{
  color:#dbdbdb;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
  padding-left: 5px;
  margin-left: 10px;
}

div#forms ul span{
  color:#828282;
}

div#forms button{
  width: 270px;
  height: 40px;
  margin-top: 10px;
  border-style: none;
  background: #6c41d7;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.default{
    color:#dbdbdb;
}

.valid{
  color: #1ed699;
}

.valid:before{
  position: relative;
  left: -35px;
}

.invalid{
  color: #f26722;
}

.invalid:before{
  position: relative;
  left: -35px;
}
